*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E9E9E9;
}

header{
    width: auto;
    height: 70px;
    background-color: #0C2A32;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.header-imageContainer {
    margin-left: 40px;
}

nav{
    display: flex;
    justify-content: flex-end;
}

.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.menu ul a{
    margin-right: 15px;
    color: white;
    text-decoration: none;
}

.title-container{
    width: auto;
    height: 50px;
    padding: 80px 0px;
}

.title-container h1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

main{
    width: auto;
    display: flex;
    justify-content: space-around;
    margin: 150px 0px;
}

.container-type{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 6px 6px 0 #20212447;
    border-color: #dfe1e500; 
    opacity: 60%;
    transition: 1s;
}

.container-type:hover{
    opacity: 100%;
    border-radius: 10%;
}

.container-type figure{
    margin: 0;
}

.container-type.fire{
    background-color: firebrick;
}

.container-type.water{
    background-color: deepskyblue;
}
.container-type.grass{
    background-color: darkgreen;
}

.image-type{
    margin: 0 auto;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    justify-items: center;  
}

footer {
    text-align:center;
    color: black;
    font-size: 30px;
    font-family: 'Sacramento', cursive;
}