body{
    background-color: #f4fbff;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #0C2A32;
    color: white;
}

.menu ul{
    list-style: none;
}

.menu > ul > .menu-element {
    display: inline-block;
    align-items: flex-end;
}

.header-image {
    height: 6em;
    margin-left: 30%;
}

h1 {
    color: blue;
}